/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.min.css";
@import "assets/fonts/material-icons/material-icons.css";

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
