<div class="row">
  <div class="card">
    <div class="card-content cyan lighten-5">
      <span class="card-title">{{course.title}}</span>
      <p>{{course.description}}.</p>
    </div>
    <div class="card-action course__footer">
        <div class="course__info">
          <span>{{course.date}}</span>
          <span>{{course.duration}} min</span>
        </div>
      <div class="course__buttons">
        <button class="btn waves-effect waves-light cyan darken-3">
          <span class="course__button-text">Edit</span>
          <i class="material-icons right course__button-right-icon">edit</i>
          <i class="material-icons center course__button-center-icon">edit</i>
        </button>
        <button class="btn waves-effect waves-light red" (click)="delete()">
          <span class="course__button-text">delete</span>
          <i class="material-icons right course__button-right-icon">delete</i>
          <i class="material-icons center course__button-center-icon">delete</i>
        </button>
        </div>
      </div>
    </div>
</div>
