.course__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course__info {
  display: flex;
  flex-direction: column;
}

.course__buttons {
  display: flex;
}

.btn:first-child {
  margin-right: 10px;
}

.course__button-center-icon {
  display: none;
}

.top-rated:after {
  content: '\E838';
  font-family: 'Material Icons';
  color: #ffab00;
  display: inline;
  vertical-align: bottom;
  margin-left: 10px;
}

.delete-modal {
  position: fixed;
  z-index: 10;
  width: 1000px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
}

.delete-modal a {
  cursor: pointer;
}

@media screen and (max-width: 479px){
  .course__footer {
    flex-direction: column;
  }

  .course__info {
    flex-direction: row;
    justify-content: space-between;
  }

  .course__buttons {
    margin-top: 10px;
  }

  .btn {
    width: 50%;
  }

  .course__button-text, .course__button-right-icon {
    display: none;
  }

  .course__button-center-icon {
    display: block;
  }
}
