<footer class="page-footer cyan darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Courses Angular application</h5>
        <p class="grey-text text-lighten-4">This application was created during EPAM Angular Global Mentoring Program 2018 Q2.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <h5 class="white-text">Links</h5>
          <li><a class="grey-text text-lighten-3" href="https://github.com/LaliGulbani">Source code</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright cyan darken-4">
    <div class="container">© 2018 Lali Gulbani</div>
  </div>
</footer>
