<div class="container">
  <for novalidate (ngSubmit)="onSubmit(course)" 
       [formGroup]="course" 
       [ampConnectForm]="formData$ | async">
  <div class="form">
    <div class="row">
      <div class="col m8 s12 offset-m2">
        <h3 class="center text-darken-2 grey-text">Add a new course</h3>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m8 s12 offset-m2">
        <input id="title" 
               type="text" 
               autocomplete="off" 
               [ngClass]="{
                    'is-invalid': (titleControl.hasError('required') || titleControl.hasError('maxlength')) && titleControl.touched
                  }"
                formControlName="title" >
        <label for="title">Title</label>
        <span 
          class="text-danger pull-right" 
          *ngIf="titleControl.hasError('required') && titleControl.touched">
              Title is required
        </span>
        <span 
          class="text-danger pull-right" 
          *ngIf="titleControl.hasError('maxlength') && titleControl.touched">
               Maximum of 50 characters
        </span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m8 s12 offset-m2">
        <textarea id="description" 
                  class="materialize-textarea" 
                  formControlName="description"
                  [ngClass]="{
                    'is-invalid': (descriptionControl.hasError('required') || descriptionControl.hasError('maxlength')) && descriptionControl.touched
                  }"></textarea>
        <label for="description">Description</label>
        <span 
          class="text-danger pull-right" 
          *ngIf="descriptionControl.hasError('required') && descriptionControl.touched">
              description is required
        </span>
        <span 
          class="text-danger pull-right" 
          *ngIf="descriptionControl.hasError('maxlength') && descriptionControl.touched">
            Maximum of 500 characters
        </span>
      </div>
    </div>
    <span
        class="text-danger pull-right" 
        *ngIf="createdAtControl.hasError('required') && createdAtControl.touched">
        date is required
      </span>
      <span
        class="text-danger pull-right" 
        *ngIf="createdAtControl.hasError('invalidDate') && createdAtControl.touched">
        invalid date
      </span>
    <app-date formControlName="createdAt"
              [ngClass]="{
                          'is-invalid': (createdAtControl.hasError('required') || createdAtControl.hasError('invalidDate')) && createdAtControl.touched
                        }">
    </app-date>
    <span
        class="text-danger pull-right" 
        *ngIf="durationControl.hasError('required') && durationControl.touched">
        duration is required
      </span>
      <span
        class="text-danger pull-right" 
        *ngIf="durationControl.hasError('notInteger') && durationControl.touched">
        must be an integer
    </span>
    <app-duration formControlName="durationMin"></app-duration>

    <div class="row">
      <div class="input-field col m8 s12 offset-m2">
        <input id="authors" type="text" autocomplete="off" [(ngModel)]="authors">
        <label for="authors">Authors</label>
      </div>
    </div>
    <div class="row">
      <div class="col m8 s12 offset-m2">
        <a class="waves-effect waves-light btn left" (click)="cancel()">Cancel</a>
        <a class="waves-effect waves-light btn right" [disabled]="course.invalid" (click)="save()">Save</a>
      </div>
    </div>
  </div>
</div>
