<div class="container login">
  <div class="row">
    <div class="col m8 s12 offset-m2">
      <h4 class="grey-text text-darken-4">Login</h4>
    </div>
  </div>
  <div class="row">
    <div class="input-field col m8 s12 offset-m2">
      <input id="username" type="text" class="validate" [(ngModel)]="username">
      <label for="username">Username</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col m8 s12 offset-m2">
      <input id="password" type="password" class="validate" [(ngModel)]="password">
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col m8 s12 offset-m2">
      <a class="btn waves-effect waves-light cyan darken-4 login__enter" (click)="login()">enter</a>
    </div>
  </div>
</div>
